@font-face {
  font-family: RobotoCondensed;
  src: url('RobotoCondensed/RobotoCondensed-Light.ttf')
}

h1 {
  color: #00db80;
  font-family: RobotoCondensed;
  font-size: 60px;
}

body {
  background-color: #1f1f1f;
  text-align: center;
}

texts {
  color: white;
  font-family: RobotoCondensed;
  font-size: 30px;
}
